@charset "utf-8";
/* CSS Document */
#divtop{
	
			background:url(../img/top.jpg)no-repeat;
			background-size: 100% ;
	background-color: green;
	width: 1920px;
}
		#divheader{
			position: relative;
			padding-top: 150px;
			height: 300px;
			width: 400px;
			
			
			
		}
        .font1{
			font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
			
			color:white;
				
		}/**简历内容正文*/
		.font2{
			font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
			
			color: white;
			
			
			
			
			
			
		}

	
	
	

.font3{
	margin-left: 43px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	
	color: white;
	
	
}
	/**头像的外框*/
          .box1{padding: 0px;
			border: pink solid 10px;
			margin-bottom: 10px;
			width: 310px;
			height: 310px;
			border-radius: 100%;  
			
			
		}
.box5{
 padding: 0px;
			border: pink solid 10px;
			margin-bottom: 100px;
			width: 310px;
			 height: 310px;	border: pink solid 10px;
			margin-bottom: 10px;
			width: 310px;
			height: 310px;
		
	
	
}


              /**第一部分简历内容外框*/
         .box2{
			 margin-top: 50px;
			border: solid orange 10px ;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			margin-right: 20px;
			
		}/**二维码的外框*/
         .box3{
			 padding: 0px;
			border: pink solid 10px;
			margin-bottom: 100px;
			width: 310px;
			 height: 310px;
}
        /**第二部分简历内容框架*/
        .box4{margin-top: 150px;
			border: solid orange 10px ;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			margin-right: 20px;
		
            }
.box41{
	margin: 10px;
	
	
}/**divright部分的分割线*/
.hr1{
	margin-right: 10px;
	margin-left: 10px;
	height: 3px;
	
	
	
	
}
/**divleft部分的分割线*/
.hr2{
	

	height: 5px;
	
}
.img2{
	width: 40px;
	height: 40px;
	
	
}

	
	


	